<div class='post-wrapper <%= post.whisper? ? "whisper" : "" %> <%= use_excerpt ? "excerpt" : ""%>'>
<b><%= post.user.user_profile.bio_raw %></b>
 <hr style="border: 0; border-bottom: 1px dashed #ccc; background: #999;"><br/>
  <div class='body'><%= format_for_email(post, use_excerpt) %></div>
</div>
